/* Font : Comfortaa Semi Bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: 'Comfortaa', cursive;
  outline: none;
}
::selection {
  background-color: #FAAC0F;
}
body {
  background-color: #adadad;
}
h1 {
  margin-top: 5px;
  font-size: 45px;
  text-transform: uppercase;
}
body.error {
  text-align: center;
}
body.error h1, body.error p {
  color: white;
}
body.error .errorcontent h1 {
  margin-bottom: 50px;
  font-size: 100px;
}
body.error .errorcontent {
  margin-top: 50vh;
  transform: translateY(-50%) translateX(-50%);
  position: fixed;
  left: 50%;
}
.content {
  margin: 100px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
a {
  color: #759B1C;
  transition: 0.5s;
  text-decoration: none;
}
a:hover {
  color: #9CCF26;
}
body.wiki iframe {
  height: 90vh;
  width: 90%;
}
.wikicontainer {
  display: flex;
  justify-content: center;
}
a.back i {
  font-size: 40px;
  margin-left: 10px;
  transition: 0.5s;
}
a.back:hover i {
  font-size: 50px;
}
.textcenter {
  text-align: center;
}
p#alert {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Chargement */
/* Fusée */
.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scene .rocket {
  position: absolute;
  pointer-events: none;
  animation: rocket 0.2s ease infinite;
}
@keyframes rocket {
  0%, 100% {
    transform: translateY(-52px) translateX(-50%);
  }
  50% {
    transform: translateY(-48px) translateX(-50%);
  }
}
.scene .rocket::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#197278, transparent);
}
.scene .rocket::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#197278, transparent);
  filter: blur(20px);
}
.scene:active .rocket::before,
.scene:active .rocket::after
{
  background: linear-gradient(#759b1c, transparent);
  bottom: -300px;
  height: 300px;
  filter: blur(2px);
}
.scene i {
  position: absolute;
  top: -250px;
  background: rgba(255,255,255,0.5);
  animation: stars linear infinite;
}
@keyframes stars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}
.disabled {
  cursor: not-allowed;
}
/* Menu */
header{
  height: 90px;
  background: #666666;
}
.logo{
  float: left;
  padding: 20px 0;
  margin-left: 10px;
}
.logo img{
  height: 60px;
  margin-top: 0;
  background-color: #8f8f8f;
  border-radius: 50%;
  padding: 8px;
  transition: 0.5s;
}
.logo img:hover {
  transform: scale(1.1);
}
.is-hidden {
    display: none;
}
.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}
.navigation-menu a:hover {
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}
.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}
i#dev {
  color: #759B1C;
}
i#tropes {
  color: #A4031F;
}
i#memes {
  color: #FAAC0F;
}
i#livres {
  color: #197278;
}
i#out {
  color: #ADADAD;
}
i#diary {
  color: #CB793A;
}
i#account {
  color: #9AC4F8;
}
i#wiki {
  color: #FF9B71;
}
.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  display: block !important;
  margin-right: 20px;
}
.navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }
.navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }
.navigation-menu a{
    display: block;
    margin: 10px 0;
  }
.navigation-menu.active{
    display: block;
    width: 100%;
    height: 100vh;
  }
.menuBtn {
    transition: .3s linear;
}
.menuBtn:hover, .fas-times:hover {
    color: #197278;
}
input#search {
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: black;
  transition: 0.5s linear;
  width: 300px;
}
input#search:focus {
  border: 2px solid #759b1c;
  width: 340px;
  
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-decoration { 
  cursor: pointer;
}

/* Alert */
.alert {
  color: red;
  background-color: #c2c2c2;
  border-left: 5px solid red;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.alert * {
  padding-left: 10px;
  padding-top: 10px;
  padding: 10px;
}
.alert i {
  margin: 10px;
  margin-top: 0;
}
.alert i::after {
  content: "Attention :";
  margin-left: 10px;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
}
@media screen and (max-height: 609px){
  .navigation-menu a{
    font-size: 14px;
    padding: 5px 12px;
  }
}

@media (max-width: 640px) {
  .header {
    height: 150px;
  }
  .menu-toggle-btn {
    font-size: 40px;
  }
  }